header{
  position: relative;
  background-color: rgba(127, 122, 122, 0.1)
}
.web-logo{
  display:inline-block;
  max-width: 10%;
  height: auto;
}
.web-logo>img{
  max-width: 100%;
  height: auto;
  border-radius: 80%;
}
.web-banner{
  display: inline-block;
  vertical-align:middle;
}
.text-responsive {
  font-size: calc(100% + 1vw + 1vh)!important;
}
/*this body style*/
section{
  margin: auto;
  max-width:45rem;
}
.section-container{
  border-radius:5px;
  margin:10px;
  text-align: center;
  position: relative;
}
.section-container>.Info{
  padding:0;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  background-color:#343234;
  color:white;
}
.tab-content{
  text-align: left;
}
.carousel{
  min-height:431px;
}
.carousel, .jumbotron{
  background-color: black !important;
  color: white;
  text-align: center;
}
.carousel-control-prev:hover,.carousel-control-next:hover{
  background-color: rgba(232, 239, 239, 0.12)
}
.github>img{
  width:25px;
  vertical-align:bottom;
  height:auto;
}
