header {
  position: relative;
  background-color: rgba(127, 122, 122, 0.1)
}

.web-logo {
  display: inline-block;
  max-width: 20%;
  height: auto;
}

.web-logo>img {
  max-width: 100%;
  height: auto;
  border-radius: 80%;
}

.web-banner {
  display: inline-block;
  vertical-align: middle;
}

.text-responsive {
  font-size: calc(100% + 1vw + 1vh) !important;
}

/*this body style*/
section {
  margin: auto;
  max-width: 50rem;
}

.section-container {
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  position: relative;
}

.section-container>.Info {
  padding: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #343234;
  color: white;
}

.tab-content {
  text-align: left;
}

.carousel-item{
  height: 100vh;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.7;
}

.carousel-caption {
  bottom: 230px !important;
  padding-left: 100px;
  padding-right: 100px;
}

.carousel-caption h5 {
  font-size: 50px;
}
.pop-container{
  width:300px;
  overflow:hidden;
  height:150px;
}
.logos{
  justify-content: center;
  align-items: center;
}
.logos>.images{
  margin:5px;
  margin-right: 5rem;
  vertical-align:top;
  text-align: center;
}
.logos>.images,img{
  max-width:8rem;
  height: 5rem;
}
